@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My name is Alex Thomas. I am a computer science student.</p>
    <p>Hello world (⌐■_■)</p>
</div>
